<div class="contact-wrapper">
  <div class="shape">
    <img src="assets/images/shape2.png" alt="shape" />
  </div>
  <div class="contents">
    <div class="images">
      <div class="avatar">
        <img src="assets/images/avatar.png" alt="avatar" />
      </div>
      <div class="title-box">
        <div class="item">c</div>
        <div class="item">o</div>
        <div class="item">n</div>
        <div class="item">t</div>
        <div class="item">a</div>
        <div class="item">c</div>
        <div class="item">t</div>
        <div class="item pink">/</div>
        <div class="item">i</div>
        <div class="item">n</div>
        <div class="item">f</div>
        <div class="item">o</div>
      </div>
    </div>

    <div class="info-box">
      <div class="back"></div>
      <div class="front">
        <div class="info-item">
          <div class="key">
            <div class="icon"><i class="bi bi-telephone"></i></div>
            <div class="title">Phone</div>
          </div>
          <div class="value">13992979017</div>
        </div>
        <div class="info-item">
          <div class="key">
            <div class="icon"><i class="bi bi-envelope-at"></i></div>
            <div class="title">Email</div>
          </div>
          <div class="value">hiro0216jr@163.com</div>
        </div>
        <div class="info-item">
          <div class="key">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <div class="title">Location</div>
          </div>
          <div class="value">Shanghai, China</div>
        </div>
      </div>
    </div>
  </div>
</div>
