<div class="wrapper">
  <img src="assets/images/background.png" alt="background" />
  <div class="menu-works">
    <app-menu-item text="recent works" routePath="/works"></app-menu-item>
  </div>
  <div class="menu-about-me">
    <app-menu-item text="Who I am" routePath="/about-me"></app-menu-item>
  </div>
  <div class="menu-contact">
    <app-menu-item text="contact me" routePath="/contact"></app-menu-item>
  </div>
  <div class="intro">
    <div class="text1">Hello, I'm Iris.</div>
    <div class="text2">A junior full-stack developer.</div>
  </div>
</div>
