$text-primary:#2E4A43;
$bg-primary:#8BD2BD;
$bg-primary-2:#DFF4ED;
$bg-primary-3:#CCEEBC;
$accent-pink:#FFD3C3;
$accent-t500:#76D497;
$neutral-700:#CCCCCC;
$neutral-100:#F2F2F2;

// Card
$card-green-bg:#F4FFFA;
$card-green-bg-dark:#B4D1C5;
$card-green-text-main:#6A8278;
$card-green-text-secondary:#476A5C;
$cover-bg-green:#ADDEA2;

$card-pink-bg:#FFF6F2;
$card-pink-bg-dark:#FABCA6;
$card-pink-text-main:#976857;
$card-pink-text-secondary:#733A26;
$cover-bg-pink:#FFDBCE;

$card-yellow-bg:#FFF9E6;
$card-yellow-bg-dark:#F6DE9D;
$card-yellow-text-main:#C89A02;
$card-yellow-text-secondary:#A17C01;
$cover-bg-yellow:#FFF6A4;

// Gradient
$cursor-gradient-1:#FAFFD1;
$cursor-gradient-2:#A1FFCE;

$cursor-gradient-3:#61BBA0;
$cursor-gradient-4:#9DDBC8;


// Color-palette
$palette-primary-1:#479790;
$palette-primary-2:#A0D195;
$palette-primary-3:#D8E4C2;

$palette-secondary:#FDEDE3;
$palette-accent:#F97862;

$palette-neutral-1:#363939;
$palette-neutral-2:#575757;
$palette-neutral-3:#DDD;
$palette-neutral-4:#F2F2F2;
$palette-white:#FFF;
